.metals/
.bloop/
.ammonite/
metals.sbt
project/
.gradle/
.idea/
build/
**/build/
**/.idea/
**/.gradle/
**/target/
**/out/
**/gradle/
**/.vscode/
**/.bsp/
**/*checkpoint*/
/MercatorTest/src/main/scala/models/KP.scala
